.display-options {
  position: relative;
}

.display-button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.options-dropdown {
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1.5px solid #e6e6e6;
  padding: 1rem 1.5rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 16rem;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.option label {
  display: block;
  margin-bottom: 5px;
}

.option select {
  border-radius: 5px;
  padding: 6px 8px;
  width: 6rem;
  -webkit-appearance: none;
  appearance: none;
}

.option::after {
  content: url(/down.svg);
  font-size: 7px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  position: absolute;
}
